// size
g = 1rem/2

// line-height
lh_s 	= 2*g //16
lh_m 	= 3*g //24
lh_l12	= 4*g //32
lh_l34 	= 5*g //40
lh_l5 	= 7*g //56
//font-size
fz_m 	= 2*g
fz_s2 	= fz_m * (1-(1/2**2)) //12
fz_s1 	= fz_m * (1-(1/2**3)) //14
fz_l1 	= fz_m * (1+(1/2**3)) //18
fz_l2 	= fz_m * (1+(1/2**2)) //20
fz_l3 	= fz_m * (1+(1/2**1)) //24
fz_l4 	= fz_m * (1+(1/2**0)) //32
fz_l5 	= fz_m * (1+(1/2**-1)) //48
// color
clr_bg1	 = hsl(210, 5%, 98%)
clr_bg2	 = hsl(210, 5%, 96%)
clr_content1 = hsl(205, 5%, 28%)
clr_content2 = hsl(205, 5%, 49%)
clr_content3 = hsl(205, 5%, 70%)
clr_prime1 	 = hsl(9, 100%, 61%)