doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		title A-Z.press
		link(rel='stylesheet', href='styl/article.css')
	body
		#app.articleview.readmode
			.articleComponent
				address.info(v-if='is_read_only')
					time.publishDate {{ publish_date }}
					span.readTime 阅读 {{ read_min }} 分钟
				h1#title.title(v-bind:contenteditable='editable' @keyup='changeTitle($event)' contenteditable='true', placeholder='标题', required='true') {{ title }}
				article#article.article(v-bind:contenteditable='editable', @keyup='changeContent($event)' contenteditable='true', placeholder='你的故事', required='true')
					div
						p
							b 有些 bug
					div
						ul
							li 发布出来的内容不应该有 ASCII
							li 单行输入框不应该换行
							li 读者打不开文章
					div
						p
							b 需要补充
					div
						ul
							li 先学习一个单词，下一条用到：caret = 光标
							li 单行输入框按「上」，caret 移到前一个输入框的尾部。
							li 单行输入框按「下」或「回车」，caret 移到后一个输入框的头部。
							li 多行输入框的第一行按「上」，caret 移到前一个输入框的尾部。
							li 多行输入框的最后一行按「下」，caret 移到后一个输入框的头部。
							li 单行输入框目前包括：作者栏，标题栏
							li 多行输入框目前包括：正文栏
							li 正文中，每次回车创建一个 block 对象，block 类型默认为 p。caret 位置：
								code &lt;div&gt;&lt;p&gt;|&lt;p/&gt;&lt;div/&gt;
							li 作者本人看到文章可以编辑。非作者看不到编辑按钮。
					div
						p
							b 明年支持的 block
					div
						ol
							li img
							li p &gt; link, bold
							li link
							li h1, h2, h3
							li list
							li code
							li table
							li video
							li quote
							li widget
					div
						p
							b 之前怎么也找不到的写作工具，现在有了
					div
						ul
							li 优质的阅读体验，配得上你的读者
							li 写完了分享到任何地方
							li 可以写一篇，也可以写一篇篇（在专栏里（还没做
							li 没有模板样式之类的鬼，专注创作本身
					div
						p
							a.block(href = 'http://www.a-z.press' target='blank') 开始写作
				address.info
					#author.authorName(v-bind:contenteditable='editable' @keyup='changeAuthor($event)' contenteditable = 'true', placeholder = '作者（选填）') {{ author }}
					span.publishChannel(v-if="is_read_only")
						| 发布于&nbsp;
						a(href='http://www.a-z.press', target='blank') A-Z.press
				.actions
					button.btn-publish(v-if = "is_read_only == false" @click='toPublish') 发布
					button.btn-edit(v-if = "is_read_only" @click='toEdit') 编辑
	script(src='js/vue.js')
	script(src='js/main.js')
